<!DOCTYPE html>
<html>
    <head>
        <title>Información del Parque Eólico</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Información del Parque Eólico: {{DetallesPark.name}}</h1>
        
        <a href="/EoloPark/edit/{{DetallesPark.id}}">Editar</a>
        <a href="/EoloPark/delete/{{DetallesPark.id}}">Borrar</a>
        
    
        
        <h2>Información del Parque:</h2>
        <p>Nombre: {{DetallesPark.name}}</p>
        <p>Ciudad: {{DetallesPark.city}}</p>
        <p>Latitud: {{DetallesPark.latitude}}</p>
        <p>Longitud: {{DetallesPark.longitude}}</p>
        <p>Área: {{DetallesPark.area}}</p>
        <p>Tipo de Terreno: {{DetallesPark.terrainType}}</p>

        <h2>Substation:</h2>
        <p>Modelo: {{DetallesSubstation.model}}</p>
        <p>Potencia: {{DetallesSubstation.power}}</p>
        <p>Voltaje: {{DetallesSubstation.voltage}}</p>

        <h2>Aerogeneraciones:</h2>
        <table>
            {{#DetallesAerogenerator}}
                <tr>
                    <td>Identificador del Aerogenerador: {{DetallesAerogenerator.identifyer}}</td> 
                    <td> Latitude: {{DetallesAerogenerator.latitude}} º</td>         
                    <td> Longitud: {{DetallesAerogenerator.longitude}} º</td>  
                    <td> Longitud de Hoja: {{DetallesAerogenerator.bladeLength}} metros</td> 
                    <td> Energia: {{DetallesAerogenerator.power}} Kilovoltiamperios</td>    
                    <td> Altura: {{DetallesAerogenerator.height}} metros</td>     
                </tr>
            {{/DetallesAerogenerator}}
        </table><br>
        <a href="/">Go back</a>
    </body>
</html>