<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration Page</title>
</head>
<body>
<h1>Administration Page</h1>
<a href="/PaginaPrincipal">Back to home</a>

<h2>Listado de Usuarios</h2>
<ul>
    <li><a><!--href="/usuario/1"-->Usuario 1</a></li>
    <li><a> <!--href="/usuario/2">-->Usuario 2</a></li>
    <!-- Agrega más enlaces según sea necesario -->
</ul>

<h2>Detalles del Usuario</h2>
<p>Nombre: Usuario 1</p>
<h3>Parques Eólicos Asociados:</h3>
<ul>
    <li>Parque 1 - Ciudad 1</li>
    <li>Parque 2 - Ciudad 2</li>
    <!-- Agrega más parques eólicos según sea necesario -->
</ul>
</body>
</html>
