<!DOCTYPE html>
<html>
<head>
    <title style = "font-family: 'Gill Sans MT',sans-serif">Información del Parque Eólico</title>
    <meta charset="UTF-8">
</head>
<body>
<h1 style = "font-family: 'Gill Sans MT',sans-serif">Información del Parque Eólico: {{DetailsPark.name}}</h1>

<a href="/EditEoloPark/Edit/{{DetailsPark.id}}" style = "font-family: 'Gill Sans MT',sans-serif">Editar</a>
<a href="/EoloPark/delete/{{DetailsPark.id}}" style = "font-family: 'Gill Sans MT',sans-serif">Borrar</a>



<h2 style = "font-family: 'Gill Sans MT',sans-serif">Información del Parque:</h2>
<p style = "font-family: 'Gill Sans MT',sans-serif">Nombre: {{DetailsPark.name}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">ID: {{DetailsPark.id}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">Ciudad: {{DetailsPark.city}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">Latitud: {{DetailsPark.latitude}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">Longitud: {{DetailsPark.longitude}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">Área: {{DetailsPark.area}}</p>
<p style = "font-family: 'Gill Sans MT',sans-serif">Tipo de Terreno: {{DetailsPark.terrainType}}</p>
<h2 style = "font-family: 'Gill Sans MT',sans-serif">Substation:</h2>
<table>
    {{#hasSubstation}}
    <tr>
        <td style = "font-family: 'Gill Sans MT',sans-serif">Modelo: {{DetailsPark.substation.model}}</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif">Potencia: {{DetailsPark.substation.power}}</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif">Voltaje: {{DetailsPark.substation.voltage}}</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"><a href="/EditSubstation/save/{{DetailsPark.substation.id}}">Edit Substation</a></td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"><a href="/Substation/delete/{{DetailsPark.substation.id}}">Delete Substation</a></td>

    </tr>
    {{/hasSubstation}}
</table>
<a href="/NewSubstation/save/{{DetailsPark.id}}" style = "font-family: 'Gill Sans MT',sans-serif">New Substation</a>
{{#hasAerogenerator}}
<h2 style = "font-family: 'Gill Sans MT',sans-serif">Aerogeneradores:</h2>
<table>
    {{#DetailsPark.aerogeneratorList}}
    <tr>
        <td style = "font-family: 'Gill Sans MT',sans-serif"> Latitude: {{latitude}} º</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"> Longitud: {{longitude}} º</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"> Longitud de Hoja: {{bladeLength}} metros</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"> Energia: {{power}} Kilovoltiamperios</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"> Altura: {{height}} metros</td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"><a href="/EditAerogenerator/save/{{id_aerogenerator}}">Edit Aerogenerator</a> </td>
        <td style = "font-family: 'Gill Sans MT',sans-serif"><a href="/EditAerogenerator/delete/{{id_aerogenerator}}">Delete Aerogenerator</a></td>
    </tr>
    {{/DetailsPark.aerogeneratorList}}
</table><br>
{{/hasAerogenerator}}

<a href="/NewAerogenerator/saveNewAerogenerator/{{DetailsPark.id}}" style = "font-family: 'Gill Sans MT',sans-serif">New Aerogenerator</a>
<br>
<br>
<a href="/MainPage" style = "font-family: 'Gill Sans MT',sans-serif">Go back</a>
</body>
</html>