<!DOCTYPE html>
<html>
    <head>
        <title>New Eolo Park</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>New Eolo Park</h1>
        <h2>Automatic</h2>
        <form action="/crear" method="post">
            <h2>Automatic</h2>
                <label for="parque-city">Ciudad:</label>
                <input type="text" id="parque-city" name="parque-city" required><br>

                <label for="parque-area">Área:</label>
                <input type="number" id="parque-area" name="parque-area" required><br>

                <button type="submit">Crear</button>

            <h2>Manual</h2>
                <label for="parque-name">Nombre del Parque:</label>
                <input type="text" id="parque-name" name="parque-name" required><br>
        
                <label for="parque-city">Ciudad:</label>
                <input type="text" id="parque-city" name="parque-city" required><br>
        
                <label for="parque-latitude">Latitud:</label>
                <input type="number" id="parque-latitude" name="parque-latitude" required><br>
        
                <label for="parque-longitude">Longitud:</label>
                <input type="number" id="parque-longitude" name="parque-longitude" required><br>
        
                <label for="parque-area">Área:</label>
                <input type="number" id="parque-area" name="parque-area" required><br>
        
                <label for="parque-terrain">Tipo de Terreno:</label>
                <select id="parque-terrain" name="parque-terrain">
                    <option value="PLAIN">Plain</option>
                    <option value="HILL">Hill</option>
                    <option value="MOUNTAIN">Mountain</option>
                    <option value="DESERT">Desert</option>
                    <option value="FOREST">Forest</option>
                </select><br>
    
            <h3>Substation</h3>
                <label for="substation-model">Modelo de la Subestación:</label>
                <input type="text" id="substation-model" name="substation-model" required><br>
        
                <label for="substation-power">Potencia de la Subestación (kVA):</label>
                <input type="number" id="substation-power" name="substation-power" required><br>
        
                <label for="substation-voltage">Tensión de Salida (kV):</label>
                <input type="number" id="substation-voltage" name="substation-voltage" required><br>
    
                <button type="submit">Crear</button>
        </form>

        <a href="/PaginaPrincipal">Go back</a>
    </body>
</html>