<!DOCTYPE html>
<html>

<head>
    <title>EoloPark Manager</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Listado de Parques Eólicos</h1>
    <h3>Bienvenido/a {{username}}</h3>
    <a href="/logout"><button>Logout</button></a>

    <form method="get">
        <input type="text" name="city" placeholder="Buscar por ciudad">
        <button type="submit">Buscar</button>
    </form>
    <br>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
        </tr>
        {{#eoloParks}}
        <tr>
            <td>Nombre del Parque: <a href="/DetailsPark/{{id}}">{{name}}</a></td>
            <td>Ciudad: {{city}}</td>
        </tr>
        {{/eoloParks}}
    </table>
    <br>
    <!-- Paginación -->
    <div>
        {{#hasNextPage}}
        <a href="?page={{nextPage}}&city={{city}}">Next</a>
        {{/hasNextPage}}
        {{#hasPreviousPage}}
        <a href="?page={{previousPage}}&city={{city}}">Previous</a>
        {{/hasPreviousPage}}
    </div>
    <br>

    <a href="/EoloPark"><button>Crear Nuevo Parque</button></a>
    {{#admin}}
    <a href="/admin"><button>Admin</button></a>
    {{/admin}}

</body>

</html>