<!DOCTYPE html>
<html>
<body>
    <h1 style="font-family: 'Gill Sans MT'; font-weight: bold">Login Page</h1>
    <form action="/login" method="post">
        <label style="font-family: 'Gill Sans MT'; font-weight: lighter">User Name:</label><input type="text" name="username" /><br />
        <label style="font-family: 'Gill Sans MT'; font-weight: lighter">Password:</label><input type="password" name="password" /><br />
        <input type="submit" value="Sign In" /><br />
    </form>
    <p></p>
    <a href="/">Back to home</a>

</body>
</html>